#head {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

#head input {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));

  border: none;
}

#title {
  font-size: xx-large;
  text-align: center;
}

#author {
  font-size: large;
  width: 80%;
}

#publish {
  margin-top: 2rem;
}

#publish > button {
  padding: 0.4em;

  background-color: var(--primary-red);
  color: rgb(var(--background-rgb));

  border: 0.5em solid var(--primary-red);
  border-radius: 0.4em;

  font-size: medium;
  font-weight: 600;

  transition: all 0.2s ease-in-out;
}

@media (any-pointer: fine) {
  #publish > button:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
}
