#footer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100%;
  gap: 2em;

  padding: 4em;

  background-color: var(--primary-blue);
  color: white;
}

#logo-wrapper {
  height: 5em;
  width: auto;
}

#logo {
  position: relative !important;
  height: 100% !important;
  width: auto !important;
}

.footer-element {
  max-width: 24rem;
}

.footer-element > h4 {
  margin: 0.75em 0;
}

.footer-element > a {
  margin: 0.25em 0;
}

.footer-element > a,
.footer-element > p {
  font-size: small;
}

.footer-link-group {
  display: flex;
  flex-direction: column;
}

#scroll-widget-wrapper {
  direction: rtl;
}

#scroll-widget-wrapper > *:hover {
  cursor: pointer;
}

#scroll-icon {
  color: white;
  width: 3em;
}

#scroll-icon + p {
  width: 12em;

  font-size: smaller;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  #footer {
    grid-template-columns: 50% 50%;
  }

  #scroll-widget-wrapper {
    grid-column: 1 / -1;
    margin-right: 2em;
  }
}

@media screen and (min-width: 1024px) {
  #footer {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  #scroll-widget-wrapper {
    grid-column: initial;
  }
}

@media screen and (min-width: 1280px) {
  #footer {
    grid-template-columns: repeat(5, auto);
    justify-items: initial;

    padding: 2em;
  }

  #logo-wrapper {
    align-self: center;
  }

  #scroll-widget-wrapper {
    direction: initial;
  }
}
