{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h2>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form" action="" method="POST">
              <div class="col-12">
                <a href='{{ "https://www.ted.org.tr/" }}' target="_blank" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ .Site.Params.contactForm.button_1 }}">
                      {{ .Site.Params.contactForm.button_1 }}
                    </span>
                  </span>
                </a>
                <a href='{{ "https://www.ted.org.tr/burslar/" }}' target="_blank" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{ .Site.Params.contactForm.button_2 }}">
                      {{ .Site.Params.contactForm.button_2 }}
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
